@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply  px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
    }

    .btn-primary{
        @apply bg-black text-white ;
    }

    .btn-text {
        @apply text-black bg-transparent;
    }

    .main{
        height: 60vw;
        background-color: 0f0f0f;
        margin-top: 100vh;
        margin-bottom: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: 100%;
        }
    }
}
